// Fonts > Family
$font-family-default : 'Lato', sans-serif;

// Fonts > size
$ft-size : 16;
$ft-line : 22;

// Colors
$color-default   : #fff;
$color-aux       : #2d2d2d;
$color-helper-lt : #808080;
$black           : #000;
$white           : #fff;

// Line

$line-default : #ececec;

// BGS
$bg-default : #fff;
$bg-aux     : #0199b1;

// Buttons
$btn-default : #fff;
$btn-aux: #0199b1;

// Breackpoints
$mob        :  320px;
$mob-large  :  375px;
$mob-wide   :  480px;
$phablet    :  560px;
$tab        :  768px;
$tab-small  :  640px;
$tab-lands  : 1024px;
$desk       : 1200px;
$desk-wide  : 1440px;
$dek-full   : 1600px;
